In [14]:
import numpy as np 
import pandas as pd

In [17]:
outside  = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [18]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [19]:
inside

[1, 2, 3, 1, 2, 3]

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [21]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [22]:
df

             A         B
G1 1  0.805250  1.477162
   2  0.659419 -1.176996
   3 -0.125230  0.622443
G2 1 -0.029413 -0.432437
   2  0.882591  0.451764
   3  0.979704  0.994281